<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HttpHelloServlet</servlet-name>
  	<display-name>HttpHelloServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.HttpHelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>com.cbs.client.Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HiServlet</servlet-name>
  	<display-name>HiServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.HiServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<display-name>AddServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.AddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<display-name>HelloServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.HelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginForm</servlet-name>
  	<display-name>LoginForm</display-name>
  	<description></description>
  	<servlet-class>com.cbs.client.LoginForm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.cbs.client.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerServlet</servlet-name>
  	<display-name>ManagerServlet</display-name>
  	<description></description>
 <servlet-class>com.cbs.client.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CabServlet</servlet-name>
  	<display-name>CabServlet</display-name>
  	<description></description>
  	<servlet-class>com.cbs.client.CabServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Assign</servlet-name>
  	<display-name>Assign</display-name>
  	<description></description>
  	<servlet-class>com.cbs.service.Assign</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignCab</servlet-name>
  	<display-name>AssignCab</display-name>
  	<description></description>
  	<servlet-class>com.cbs.service.AssignCab</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CabBooking</servlet-name>
  	<display-name>CabBooking</display-name>
  	<description></description>
  	<servlet-class>com.cbs.service.CabBooking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingHistory1</servlet-name>
  	<display-name>BookingHistory1</display-name>
  	<description></description>
  	<servlet-class>com.cbs.service.BookingHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PendingRequest</servlet-name>
  	<display-name>PendingRequest</display-name>
  	<description></description>
  	<servlet-class>com.cbs.service.PendingRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Accept</servlet-name>
  	<display-name>Accept</display-name>
  	<description></description>
  	<servlet-class>com.cbs.service.Accept</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reject</servlet-name>
  	<display-name>Reject</display-name>
  	<description></description>
  	<servlet-class>com.cbs.service.Reject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.cbs1.client.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<display-name>Admin</display-name>
  	<description></description>
  	<servlet-class>com.cbs1.client.Admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Employee</servlet-name>
  	<display-name>Employee</display-name>
  	<description></description>
  	<servlet-class>com.cbs1.client.Employee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Manager</servlet-name>
  	<display-name>Manager</display-name>
  	<description></description>
  	<servlet-class>com.cbs1.client.Manager</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>HttpHelloServlet</servlet-name>
  	<url-pattern>/lilly</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HiServlet</servlet-name>
  	<url-pattern>/Hasan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/rose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginForm</servlet-name>
  	<url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerServlet</servlet-name>
  	<url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CabServlet</servlet-name>
  	<url-pattern>/CabServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Assign</servlet-name>
  	<url-pattern>/Assign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignCab</servlet-name>
  	<url-pattern>/AssignCab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CabBooking</servlet-name>
  	<url-pattern>/CabBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingHistory1</servlet-name>
  	<url-pattern>/BookingHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PendingRequest</servlet-name>
  	<url-pattern>/PendingRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Accept</servlet-name>
  	<url-pattern>/Accept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reject</servlet-name>
  	<url-pattern>/Reject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Employee</servlet-name>
  	<url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Manager</servlet-name>
  	<url-pattern>/Manager</url-pattern>
  </servlet-mapping>
  
  </web-app>
